body {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  height: auto;
  background-color: rgb(146, 146, 231);
}

header {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 10px;
  height: 300px;
  width: 230px;
  padding: 10px;
  margin: 20px;
  background-color: rgb(214, 137, 137);
}
.itemTitle {
  width: 100%;
  text-align: center;
}

.totalprice {
  padding-left: 10px;
  padding-right: 10px;
}

.card img {
  height: 50%;
  width: 100%;
  margin: 0 10px 10px 10px;
}

input {
  height: 20px;
}

.card i {
  margin-top: 10px;
}

.like {
  margin-right: 10px;
  color: grey;
  background: wheat;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btnRemove {
  margin-left: 30px;
}
.liked {
  color: black;
  background: red;
}
